/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*VARIABLES CSS*/
:root {
  --header-height: 2.5rem;

  --first-color1: hsl(157, 100%, 44%);
  --first-color2: hsl(340, 92%, 37%);
  --second-color1: hsl(240, 10%, 10%);
  --second-color2: hsl(215, 21%, 11%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(210, 15%, 95%);
}

/*BASE*/
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --menta: hsl(176 73% 7.3%);
  --indigo: hsl(230 36.4% 12.9%);
  --cyano: hsl(192 60% 7.2%);
  --violeta: hsl(0 0% 0% / 0);
  --menta2: hsl(175 79.3% 8.9%);
}

body,
button,
input,
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

body {
  background: radial-gradient(
      ellipse at 100% 100%,
      hsl(254 100% 6% / 0.07),
      var(--violeta),
      transparent
    ),
    linear-gradient(
      to bottom right,
      var(--menta),
      var(--indigo),
      var(--menta2),
      var(--cyano)
    );
  color: var(--bg-white1);
  transition: all 0.2s linear;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.8rem;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 96%;
  height: auto;
  margin: 0 auto;
  padding: 6 0px 0;
}

.content {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 40px;
  }
}

.wrapper-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 50%;
  background: rgba(25, 25, 25, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 260px;
  padding: 30px 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.clock {
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
}

.play-stop,
.zerar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease 0.2s;
}

.play-stop:hover,
.zerar:hover {
  background: rgba(251, 251, 251, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.sidebar {
  width: 360px;
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.sidebar-inside {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weather {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -12px;
}

.weather img {
  margin-right: 4px;
}

.weather-location {
  font-size: 2.5rem;
}

.weather-location span {
  font-size: 1.75rem;
  position: absolute;
  margin-left: 4px;
}

.wrapper-pomodoro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin: 10px auto;
  padding: 10px;
}

.wrapper-pomodoro h3 {
  font-size: 2rem;
}

.limpar {
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  cursor: pointer;
  transition: all ease 0.2s;
  -webkit-backdrop-filter: blur(4px);
}

.limpar:hover {
  background: rgba(251, 251, 251, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px);
}

.limpar span {
  color: var(--text-color);
}

.datetime {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

#time {
  font-size: 3.2rem;
}

#date {
  font-size: 1.6rem;
  opacity: 0.9;
}

hr {
  height: 1px;
  width: 230px;
  border-width: 0;
  color: rgba(255, 255, 255, 0.18);
  background-color: rgba(255, 255, 255, 0.18);
}

.settings-btn {
  position: fixed;
  right: 50px;
  top: 20px;
  width: 28px;
  height: 28px;
  background: transparent;
  transform: all ease 0.5s;
}

.settings-btn:hover {
  transform: rotate(20deg);
}

.form-popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.form-wrapper {
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 360px;
  border-radius: 8px;
  padding: 20px;
}

.form-wrapper-inside {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  padding: 12px;
}

.form-popup form {
  padding: 12px;
  margin: 10px auto;
  max-width: 500px;
  position: relative;
}

.form-popup h2 {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 30px;
  font-size: 26px;
  cursor: pointer;
}

.close-button:hover {
  scale: 1.3;
  color: var(--first-color2);
}

.group {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
}

.group div {
  margin: 4px 0;
  padding-left: 4px;
}

input[type='radio'] {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.1s all linear;
  position: relative;
  top: 2px;
}

input:checked {
  border: 6px solid var(--first-color1);
}

input[type='text'],
select {
  padding: 6px;
  margin: 8px 0 8px 4px;
  border-radius: 4px;
  border: 1px solid #999;
  outline: none;
  background: transparent;
  color: var(--text-color);
  font-size: 1.6rem;
}

input[type='text']:focus,
select:focus {
  border: 1px solid var(--first-color1);
}

select:hover {
  background-color: var(--first-color1);
  color: black;
}

select:active {
  color: black;
}

select:focus-within {
  background-color: var(--first-color1);
  color: black;
}

select:focus {
  background-color: var(--first-color1);
  color: var(--text-color);
}

.btn-group {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.btn-send, .btn-cancel {
  padding: 8px 20px;
  background: var(--first-color1);
  border-radius: 4px;
}

.btn-cancel {
  background: var(--first-color2);
  cursor: pointer;
}