/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*VARIABLES CSS*/
:root {
  --header-height: 2.5rem;

  --first-color1: hsl(157, 100%, 44%);
  --first-color2: hsl(329, 100%, 55%);
  --second-color1: hsl(240, 10%, 10%);
  --second-color2: hsl(215, 21%, 11%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(210, 15%, 95%);
}

/*BASE*/
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --menta: hsl(176 73.0% 7.3%);
	--indigo: hsl(230 36.4% 12.9%);
	--cyano: hsl(192 60.0% 7.2%);
	--violeta: hsl(0 0% 0% / 0);
	--menta2: hsl(175 79.3% 8.9%);
}

body,
button,
input,
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

body {
  background: radial-gradient(ellipse at 100% 100%, hsl(254 100% 6% / 0.07), var(--violeta), transparent), linear-gradient(to bottom right, var(--menta), var(--indigo), var(--menta2), var(--cyano));
  color: var(--bg-white1);
  transition: all 0.2s linear;
	min-height: 100vh;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.8rem;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 340px;
  height: auto;
  margin: 0 auto;
  padding: 6 0px 0;
}

main {
  border-radius: 0 0 8px 8px;
}

.content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main .msg {
  text-transform: uppercase;
  text-align: center;
}

.wrapper-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 50%;
  background: rgba(25, 25, 25, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}


.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 260px;
  padding: 30px 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);

}

.clock {
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
}

.play-stop {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease .2s;
}

.play-stop:hover {
  background: rgba(251, 251, 251, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.wrapper-pomodoro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.limpar {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  cursor: pointer;
  transition: all ease .2s;
  -webkit-backdrop-filter: blur(4px);
}

.limpar:hover {
  background: rgba(251, 251, 251, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px);
}

.limpar span {
  color: var(--text-color);
}